@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    [dir="rtl"] .form-select {
        background-position: left 0.5rem center;
    }

    [dir="rtl"] select {
        background-position: left 0.5rem center;
        padding-right: 0.75rem;
    }

    progress[value]::-webkit-progress-value {
        background-color: rgb(147 51 234);
    }
}